/*reset*/
body,p,form,dl {
    margin:0;
}
ul {
    list-style: none;
    margin: 0;
    padding:0;
}
img {
    border: none;
}
/*tool*/
.clearfix:after {
    content: '';
    display: block;
    visibility: hidden;
    clear: both;
    line-height: 0;
    font-size: 0;
}
.clearfix {
    *zoom:1;
}

/*base*/
body {
    font: 12px/1.333 arial,helvetica,clean;
    background: #F0F1F4 url('./img/list-bg.jpg') repeat 0 0;
}
.userbar{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 30px;
    background-color: gray;
    opacity: 0.7;
}
.userbar .info {
    margin: 0 auto;
    width: 960px;
    text-align:right;
    font:12px Arial;
    line-height:28px;
    color: white;
}
.user-info .date {

}

.banner {
    width: 960px;
    height: 100px;
    margin: 0 auto;
    background: gray url(img/banner.jpg) 0 0 no-repeat;

}
.banner .logo {
    position: absolute;
    z-index: 2;
    width: 137px;
    height: 46px;
    background: white url(img/logo.gif) 0 0 no-repeat;
    text-indent: -10000px;
}

.search-box {
    width: 960px;
    margin:20px auto;
}
.search-box .search-input {
    float: left;
    overflow: hidden;
    height: 20px;
    font-size: 14px;
    padding: 4px 0 3px 10px;
    width: 500px;
    margin-right: 15px;
}
.search-box .search-button {
    width: 95px;
    height: 31px;
    border: 1px solid gray;
    background-color: #EEE;
    cursor: pointer;
    border-radius: 2px;
    border: 1px solid gray;
}
.search-box .search-button:hover {
    background-color: orange;
}


.footer {
    width: 960px;
    margin: 20px auto;
    border-top: 1px solid #ccc;
    text-align: center;
    padding-top: 10px;
}
.help-info {
    text-align: center;
    color: #999;
}
.help-info a{
    color: #999;
}


.tab {
    width: 960px;
    margin: 0 auto;
    border-bottom: 1px solid red;
    padding-top: 10px;
}

.tab .item {
    margin-right: 3px;
    width: 142px;
    float: left;
    height: 38px;
    background: #D7F5FF;
    color: #333;
    overflow: hidden;
    font: 18px "Microsoft Yahei";
    line-height: 40px;
    border: 1px solid #D7F5FF;
    text-align: center;
    border-radius: 5px 15px 0 0;
    cursor: pointer;
}
.tab .item:hover {
    position: relative;
    margin-bottom: -1px;
    height: 39px;
    border: 1px solid red;
    background-color: orange;
    border-bottom-color: #EDD;
}
.tab .item.current{
    position: relative;
    margin-bottom: -1px;
    height: 39px;
    border: 1px solid red;
    background-color: #EDD;
    border-bottom-color: #EDD;
    cursor: default;
}
